body {
    background-color: #E9E9E9;
}

.contenedor {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border: 10px solid #2c3e50;

    /* FLEXBOX */
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;

    /* Flex-direction: row, column, row-reverse, column-reverse 
    flex-direction: row;*/

    /* Flex-wrap: wrap, nowrap, wrap-reverse 
    Sirve para apilar elementos en vertical cuando estos no quepan en un espacio horizontal 
    flex-wrap: wrap;*/

    /* Flex-flow: Atajo para combinar flex-direction y flex-wrap; */
    flex-flow: row nowrap;

    /* Justify-content: flex-start, flex-end, center, space-around, space-between, space-evenly. 
    Posicionar elementos y distribuir espacio libre
    
    space-around: Distribuye los elementos con un espacio igual entre ellos y la mitad en lo extremos
    
    space-evenly-: Distribuye los elementos y extremos con el mismo espacio
    
    space-between: Distribuye los elementos con un espacio igual entre ellos y ninguno en los extremos*/
    justify-content: center;

    /* Align-items:  flex-start, flex-end, center, stretch, baseline 
    Baseline: Centra los elementos por la linea base del caracter cuando tienen tamaños de fuente diferentes*/
    align-items: center;

    /* Align-content: Lo mismo que align-items pero solo se utilitza cuando tenesmos varias filas de elementos (wrap)*/
    /*align-content: center;*/
}

.elemento {
    color: #fff;
    margin: 5px;
    height: 50px;
    background-color: #e67e22;
    text-align: center;

    /* Flex-basis: Convertimos el elemento en un flex-item. Sinonimo de width o height segun la direccionalidad. Sirve como tamaño base que podra agrandarse o encogerse */
    /*flex-basis: 50px;*/

    /* Flex-grow: Controla el crecimiento de un flex-item para rellenar el espacio disponible. Solo se aplica si hay espacio disponible (el tamaño del contenedor es mayor a los flex-items y sus margenes/paddings)
    
    Espacio total de: 500px

    4 elementos de 50px y 5px de margen a cada lado = 60 * 4 = 240px;

    500 - 240 = 260px

    1 + 2 + 1 + 1 = 5

    Formula unit grow = espacio libre en linea / suma de flex-grow

    260 / 5 = 52px

    60+52 = 112px;

    */

    /* Flex: atajos de flex-grow, flex-shrink, flex-basis */
    flex:1 0 5px;
}

.elemento2 {
    flex-grow: 2;
    align-self: flex-end;
}