/* GLOBAL */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    font-family: "Open Sans";
    height: 100%;
    min-height: 100%;
}

.globalWrapper {
    width: 53%;
    margin: 0 auto;
    margin-top: 15px;
}

/* HEADER */

.headerLogo {
    display: flex;
    justify-content: center;
}

.headerLogo  img{
    width: 10rem;
}

/* MAIN */

.clusterElement {
    height: 7.5rem;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
    -webkit-transition: -webkit-transform 0.1s;
    cursor: pointer;
}

.clusterElement:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.clusterElement:active {
    transform: scale(1);
	-webkit-transform: scale(1);
}

.clusterElement i {
    display: inline-block;
    color: white;
}

.clusterElement p {
    margin: 1rem 0 0 0;
    color: #fff;
    font-weight: 300;
}

.inventory {
    background-color: #1E90FF;
}

.sells {
    background-color: #DA312E;
}

.reports {
    background-color: #0f6d39;
}

.tools {
    background-color: #9f00a7;
}

/* FOOTER */

footer {
    margin-top: auto;
    font-size: 0.75rem;
    background-color: rgb(51, 51, 51);
    border-top: 3px solid grey;
    padding: 0.05px 0;
    text-align: center;
    color: white;
}