body {
    background-color: #ccc;
}

.contenedor {
    width: 900px;
    background-color: #f0f7ff;
    border: 5px solid #ad5b70;
}

.elementoContenido {
    background-color: #daadb8;
    text-align: center;
    margin: 5px;
    width: 50px;
    height: 50px;
}