/* GLOBAL */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    /* background-color: rgb(248, 248, 248); */
    font-family: "Open Sans";
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
    margin: 0 auto;
    /* background-color: #eaeaea; */
}

/* HEADER */
ul.menu {
    border-radius: 1rem 1rem 0 0;
    background-color: #ad974f;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* NAV */
img#logo {
    margin: 1rem auto;
    display: block;
    height: 100px;
}

/* MAIN */
main {
    flex-grow: 1;
    background-color: #e0e0e0;
}

div#mainContent {
    flex-grow: 0;
    margin: 0 auto;
    width: 80% !important;
    margin: 1rem auto;
}

.productImg {
    margin: 0.25rem 0 0.5rem 0;
    width: 18.75rem;
}

.dayMenuUl {
    list-style-type: none;
}

.dayMenu {
    text-align: center;
}

.menuCategoryTable {
    width: 27.3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.menuCategoryTable th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.menuCategoryTable th {
    font-weight: normal;
}

.menuCategoryTable caption {
    font-weight: bolder;
}

.menuCategoryTable td.edit {
    width: 9.375rem;
}

.maxContent {
    width: max-content;
}

.dpBlock {
    display: block;
}

.menuCategoryTable td.price {
    width: 4.375rem;
    text-align: center;
}

/* FOOTER */

footer {
    width: 100%;
    align-self: flex-end;
    font-size: 0.75rem;
    background-color: rgb(51, 51, 51);
    border-top: 3px solid grey;
    padding: 10px;
    text-align: center;
    color: white;
}

/* ANCHORS */
a.menuItem {
    display: block;
    padding: 15px;
    transition: background-color 0.25s;
}

a.menuItem:hover {
    background-color: black;
}

/* GENERICS */
.removeDecoration {
    text-decoration: none;
    color: white;
}

.justifiedText {
    margin-bottom: 1rem;
    text-align: justify;
}

h2 {
    margin-bottom: 0.25rem;
}

.goldButton {
    border: 0;
    display: inline-block;
    background-color: #ad974f;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    flex-grow: 0;
    cursor: pointer;
}

.redBg {
    background-color: red;
}

.noMargin {
    margin: 0;
}

.text {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.errorText {
    background-color: red;
}

.correctText {
    background-color: green;
}

div.flexdiv {
    display: flex;
    margin: 1rem 0;
}

.hidden {
    display: none;
}

.blockandcenter {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

a {
    text-decoration: none;
}

/*QUITAR HOME*/

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    margin: 1rem 0 0.5rem 0;
}

#hotelImage {
    width: 100%;
}

.container {
    margin-top: 1rem;
}

/* LOGIN */
div.loginForm {
    text-align: center;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0 auto;
    width: 70%;
}

div.loginForm input {
    display: block;
    margin: 1rem auto;
}

div.loginForm input[type="submit"], div.loginForm input[type="reset"], button {
    margin: 0 0 1rem 0;
    display: inline-block;
}

div.loginButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0;
    flex-grow: 0;
}

@media only screen and (max-width: 880px) {
    #wrapper, #mainContent {
        width: 100% !important;
    }
    #mainContent {
        width: 90% !important;
    }
    div.loginForm {
        width: 80%;
    }
    div.loginForm input {
        width: 70%;
    }
    div.loginForm input[type="submit"] {
        width: auto !important;
    }
    div.loginButtons {
        flex-direction: column-reverse;
        align-items: center;
    }
    div.loginButtons a {
        margin-bottom: 1rem;
    }
    ul.menu {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
  }